<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <button>Send</button>
    </form>

    {% for img in images %}
        {% if img %}
            <h3>Пришла картинка {{ img.title }}</h3>
            <img src="{{ img.image.url }}" alt="{{ img.title }}">
            <hr>
        {% endif%}
    {% endfor%}

</body>
</html>